{% include "menu.html" %}

<div class="row">
  <div class="col s9">
    {% block content %}
    <h5>Nova postagem</h5>
    {% if user.is_authenticated %}
      <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="save">Salvar</button>
        <button type="reset" class="reset">Limpar</button>
      </form>
    {% else %}
      <p>
        Por favor, cadastre-se para abrir uma nova discussão.
      </p>
    {% endif %}
    {% endblock %}
  </div>
  <div class="col s3">
    {% include "search.html" %}
  </div>
</div>
