<br />
<form style="border: 1px solid black; padding: 10px 10px 10px 10px">
  <input type="text" placeholder="O que deseja buscar?" id="search" />
  <div style="text-align: right">
    <input type="button" value="Buscar"/>
  </div>
</form>

<form style="border: 1px solid black; padding: 10px 10px 10px 10px">
  <div class="col s6">
    <label for="user">Usuário</label>
    <input type="text" class="validate" id="user" />
  </div>
  <div class="col s6">
    <label for="user">Senha</label>
    <input type="password" id="password" />
  </div>
  <div style="text-align: right">
    <input type="button" value="Buscar"/>
  </div>
</form>
